*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.pappa{
    display: grid;
    gap: 20px;
    grid-template-columns: 100px 100px 100px 100px 100px 100px;
    
}
.bacha{
width: 100px;
height: 100px;
background-color: blue;

}
#bacha1{
    grid-column-start:1;
}